*
!.gitignore
!*.md
# config files
!.config
/.config/*
!.config/qtile
/.config/qtile/*
!.config/qtile/*.py
!.config/qtile/.gitignore
# screenshots
!Pictures/*
#!Pictures/Screenshots/*.png
#/Pictures/Screenshots/*
#!Pictures/Screenshots/my-config/*.png
