/*
!.gitignore
!*.md

# config files
!.config
/.config/*

# Qtile
!.config/qtile
/.config/qtile/*
!.config/qtile/*.py
!.config/qtile/.gitignore

# Awesome WM
!.config/awesome

# Zsh
!.zshrc

# Vim
!.vimrc

# Nvim
!.config/nvim

# Alacritty
!.config/alacritty

# Picom
!.config/picom

# My programs
!.local
/.local/*
!.local/bin

# screenshots
!Pictures/
/Pictures/*
!Pictures/Screenshots
/Pictures/Screenshots/*
!Pictures/Screenshots/my-config
